html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

nav ul {
	list-style: none;

}
nav ul li {
	width: 84px;
	height: 84px;
	/*float: left; display horizontal*/

}

#facebook {
	background: url('social.png') 0 84px;
}
#facebook:hover {
	background: url('social.png') 0 0;
}

#dots {
	background: url('social.png') -84px 84px;
}

#dots:hover {
	background: url('social.png') -84px 0;
}

#basketball {
	background: url('social.png') -168px 84px;
}

#basketball:hover {
	background: url('social.png') -168px 0;
}

#googleplus {
	background: url('social.png') -252px 84px;
}

#googleplus:hover {
	background: url('social.png') -252px 0px;
}

#linkedin {
	background: url('social.png') -336px 84px;
}

#linkedin:hover {
	background: url('social.png') -336px 0;
}


#pinterest {
	background: url('social.png') -420px 84px;
}

#pinterest:hover {
	background: url('social.png') -420px 0;
}

#rss {
	background: url('social.png') -504px 84px;
}

#rss:hover {
	background: url('social.png') -504px 0;
}

#skype {
	background: url('social.png') -588px 84px;
}

#skype:hover {
	background: url('social.png') -588px 0;
}

#twitter {
	background: url('social.png') -672px 84px;
}

#twitter:hover {
	background: url('social.png') -672px 0;
}

#vimeo {
	background: url('social.png') -756px 84px;
}

#vimeo:hover {
	background: url('social.png') -756px 0;
}

#youtube {
	background: url('social.png') -840px 84px;
}

#youtube:hover {
	background: url('social.png') -840px 0;
}