html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.dialog ul {
    list-style: none;
    min-height: 100px;
}

.dialog ul li {
    min-height: 100px;
    min-width: 200px;
    display: flex;
    align-items: center;
    border: 2px solid black;
	margin-left: 150px;
	margin-bottom: 20px;
	padding: 10px;
	border-radius: 25px;


}

.bob:before {
	content: "";
	background: url('7v2.png') 0 -100px no-repeat;
	display: block;
	width: 100px;
	height: 100px;
	float: left;
	margin-left: -130px;
	padding-right: 50px;
}

.dialog ul li:after{
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border: 31px solid transparent;
	border-right-color: black;
	border-left: 0;
	border-top: 0;
	margin-top: 17px;
	margin-left: 159px;
}

/*.alice:after{
	content: '';
	position: absolute;
	left: 0;
	width: 0;
	height: 0;
	border: 31px solid transparent;
	border-right-color: black;
	border-left: 0;
	border-top: 0;
	margin-top: 17px;
	margin-left: 159px;
}*/


.alice:before {
	content: "";
	background: url('7v2.png') 0 0 no-repeat;
	display: block;
	width: 100px;
	height: 100px;
	float: left;
	margin-left: -130px;
	padding-right: 50px;
}

@media screen and (max-width: 1380px) {
  .bob:before {
    padding-right: 60px;
  }
  .alice:before {
    padding-right: 60px;
  }
}

@media screen and (max-width: 1050px) {
  .bob:before {
    padding-right: 80px;
  }
  .alice:before {
    padding-right: 80px;
  }
}

@media screen and (max-width: 700px) {
  .bob:before {
    padding-right: 110px;
  }
  .alice:before {
    padding-right: 110px;
  }
}



    