html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}
header {
	width: 100vw;
	height: 50px;
	background-color: #FE7F2D;
	color: white;
	font-size: 48px;
	padding-top: 50px;
	text-align: center;
}


nav {
	background-color: #579C87;
	font-size: 9px;
	overflow: hidden;
	padding-right: 20%;
	height: 25px;

}
nav ul {
	display: flex;
	list-style: none; 
	float: right;

}

nav ul li {
	padding: 0 10px 0 10px;
}

nav a {
	text-decoration: none;
	color: white;
	float: right;
	
}

nav a:hover {
	text-decoration: underline;
}

main {
	max-width: 100vw;
	background-color: #FCCA46;
	color: white;
	font-size: 48px;
	text-align: center;
	min-height: calc(100vh - 185px);

}

footer {
	background-color: #233D4D;
	width: 100vw;
	height: 60px;
	text-align: center;
	padding: 0 0 0 0;
	color: white;
	font-size: 24px;
}