html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
}

.text{
    background-image: url("square.gif");    
    width: 396px;
    height: 18px;
    background-size: 20px;
    border: none;
    font-family: monospace;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 0 !important;
    letter-spacing: 12.8px;
    line-height: 2;
}

.cnp-text {
	background-image: url("square.gif");    
    width: 256px;
    height: 18px;
    background-size: 20px;
    border: none;
    font-family: monospace;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 0 !important;
    letter-spacing: 12.8px;
    line-height: 2;
}

.info-text {
	width: 60px;
}

.info-text span {
	display: block;
	text-align: right;
}


.info {
	width: 30px;
	display: inline;

}

.input-form input {
	display: block;
	margin-left: 10px;
}

.container {
	display: flex;
}
