body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

.container {
	border: 1px solid black;
	width: 400px;
	height: 200px;
	display: flex;
    align-items: center; 
}

.text {
	width: 200px;
	text-align: center;
	/*font-size: 20px;*/
}

.text p {
	
}

.image {
	width: 200px;
}

.image img {
	width: 200px;
	/*height: 20px;*/
}