html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	padding: 10px;
	margin: 0;
}

.container {
	padding: 25px 0 25px 25px;
	border: 1px solid black;
	width: 520px;
}

.row {
	display: inline-block;
}

.element {
	display: block;
	width: 180px;
	height: 270px;
	padding: 25px;
	background-color: cyan;
	margin-bottom: 25px;
	margin-right: 25px;
}

.text {
	display: block;
	text-align: center;
}



.element img {
	width: 180px;
	height: 240px;

}