html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	width: 100%;
	padding: 10px;
	margin: 0;
}

.container {
	background-color: yellow;
	border: 1px solid black;
	width: 500px;
}



.element img {
	width: 180px;
	height: 240px;

}

.element {
	width: 320px;
	height: 260px;
	display: flex;
	align-items: center;
}

.text {
	padding-left: 20px;
	text-align: middle;
}