body, html {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

header {
	width: 100vw;
	height: 150px;
	background-color: #FE7F2D;
	color: white;
	font-size: 48px;
	padding-top: 50px;
	text-align: center;
}


nav {
	background-color: #579C87;
	font-size: 20px;
	overflow: hidden;
	padding: 20px 20% 20px 0;

}

nav a {
	text-decoration: none;
	color: white;
	float: right;
	padding: 0 10px 0 10px;
	
}

nav a:hover {
	text-decoration: underline;
}

main {
	width: 100vw;
	height: 400px;
	background-color: #FCCA46;
	color: white;
	padding: 100px 0 0 0;
	font-size: 48px;
	text-align: center;
}

footer {
	background-color: #233D4D;
	width: 100vw;
	height: 150px;
	text-align: center;
	padding: 50px 0 0 0;
	color: white;
	font-size: 48px;
}